<h3>Listing Essays</h3>

<% if current_user.pins.empty? %>

	You currently do not have any uploaded essays.

<% else %>

	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Essay Description</th>
	            <th></th>
	            <th></th>
	            <th></th>
	        </tr>
	    </thead>
	
	    <tbody>
	        <%= render @pins %>
	    </tbody>
	</table>
	
<% end %>

<br />

<!-- <div id="pins">
  <%-# render @pins -%>
</div> -->

<div class="upload-essay-button">
	<%= link_to "Upload New Essay", new_pin_path, class: "btn" %>
</div>

<!-- <h1>Listing pins</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%-# render @pins -%>
  </tbody>
</table>

<br />
-->
<%-#= link_to 'New Pin', new_pin_path -%> 