<h1>About</h1>

<p>
	<%- link_to "PS-Guru", "#" -%>
	I grew up in Berkeley and graduated from Berkeley High in 1997.  I then moved to NYC and earned my BA in English and Creative Writing from  Columbia University in 2001.  I moved back to the Bay Area and have taught high school English for the past eight years; the last six I spent at Oakland High School.
</p>
 
<p> 
	I have honed and perfected my methods of teaching the personal statement (and its importance) to high school seniors.
	I have tips and tricks for reluctant and exuberant writers.
</p>