<% provide(:title, 'About') %>

<h4>About</h4>
<div class="about-page">
	<div>
		<p>
			Why is the Personal 
			​Statement so important?
			The college application process has changed. <strong>Almost all schools place more importance on the personal statement than on SAT scores.</strong>  Grades are still the most important component in a college application.
			 
			UCs roughly weigh an application in the following fashion:
			<ul>
				<li>60% = Grades</li>
				<li>15-20% = Personal Statement</li>
				<li>10-15% = SAT scores</li>
				<li>10% = Recomendations, extra curricular activities, etc.</li>
			</ul>
		</p>
	</div>

		<p>
			Some facts:
		</p>
	<ul>
		<p>
			<li>The average student spends well over 5,000 hours earning his or her GPA.</li>
	 
			<li>The average student spends very little time (less than 10 hours) writing his or her personal statement.</li>
			 
			<li>Improving one's personal statement is the easiest and least time consuming way to greatly improve one's chance of getting into a college or university.</li>
		</p>
	</ul>
</div>