<h1>About</h1>
<div class="about-page">
	<p>
		<%- link_to "PS-Guru", "#" -%>
		I grew up in Berkeley and graduated from Berkeley High in 1997.  I then moved to NYC and earned my BA in English and Creative Writing from  Columbia University in 2001.  I moved back to the Bay Area and have taught high school English for the past eight years; the last six I spent at Oakland High School.
	</p>
	 
	<p> 
		I have honed and perfected my methods of teaching the personal statement (and its importance) to high school seniors.
		I have tips and tricks for reluctant and exuberant writers.
	</p>


	<div>
		<p>
			Along with being a writer, tutor, and teacher, I'm also an active athlete, an avid reader, and a member of a large and happy family. 
		</p>
	</div>

	<div>
		<p>
			Why is the Personal 
			​Statement so important?
			The college application process has changed.  Almost all schools place more importance on the personal statement than on SAT scores.  Grades are still the most important component in a college application.
			 
			UCs roughly weigh an application in the following fashion:
			<ul>
				<li>60% = Grades</li>
				<li>15-20% = Personal Statement</li>
				<li>10-15% = SAT scores</li>
				<li>10% = Recomendations, extra curricular activities, etc.</li>
			</ul>
		</p>
	</div>

	<ul>
		<p>
			<li>The average student spends well over 5,000 hours earning his or her GPA.</li>
	 
			<li>The average student spends very little time (less than 10 hours) writing his or her personal statement.</li>
			 
			<li>Improving one's personal statement is the easiest and least time consuming way to greatly improve one's chance of gettting into a college or university.</li>
		</p>
	</ul>
</div>