<% provide(:title, 'Contact') %>

<h3>Contact</h3>

<ul>
	<li>
		I host tutoring sessions at my home in the Lake Merrit area of Oakland.  I also meet students and families at convenient East Bay locations.
	</li>

	<li>
		Call to schedule a free consultation at:  510-910-5727
	</li>

	<li>
		Or send me an email with the form on the right!
	</li>

</ul>