<% provide(:title, 'FAQ') %>

<h4>FAQ</h4>

<div class="faq_body">
	<ul>
		<p>
			<li class="question">
				Question:  Is Mr. Filipek really that good at personal statements?
			</li>
			<li class="answer">
				Answer:  He has more tips, tricks, great advice, and editing acumen than anyone in the country (when dealing with personal statements).  And he fully guarantees it.
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  How much are his tutoring services?  Can you explain the pricing schedule?
			</li>
			<li class="answer">
				Answer:  He charges per hour and prices based on need.
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  How much are his tutoring services?  Can you explain the pricing schedule?
			</li>
			<li class="answer">
				Answer:  Yes, but those services are not guaranteed or recommended.
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  How many sessions does it take to complete one 500-word essay?
			</li>
			<li class="answer">
				Answer:  It depends on many factors.  Mr. Filipek recommends multiple revisions (and even multiple readers).  A great personal statement takes time.  Many students fail to submit their best writing because they skip the necessary revisions and/or write their essays at the last moment.
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  Will Mr. Filipek write an essay for my son/daughter?
			</li>
			<li class="answer">
				Answer:  Absolutely not.  Your son or daughter's original words and thoughts are far more unique, interesting, and desireable than those of 34-year-old tutor. ​
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  When should my son/daughter begin writing his/her personal statement?
			</li>
			<li class="answer">
				Answer:  Mr. Filipek recommends that the process be commenced during the summer before one's senior year.
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  Does he guarantee that my son/daughter will get into [school of choice]?
			</li>
			<li class="answer">
				Answer:  No.  The guarantee covers your satisfaction--that you or your loved one will produce an excellent essay.
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  I'm still not convinced
			</li>
			<li class="answer">
				Answer:  The first consultation is free and comes with homework (which is also free).  All further services are fully guaranteed.  You have nothing to lose.
			</li>
		</p>
	
		<p>
			<li class="question">
				Question:  Will Mr. Filipek provide workshops for teachers or for large groups of students?
			</li>
			<li class="answer">
				Answer:  Yes and yes; he has strategies and scaffolds for large and small groups.
			</li>
		</p>
	</ul>
</div>
