<div class="hero-unit">
	<h3>SpoonRocket Home</h3>
	<p>This is the home page.</p>
	<p>
		<%= link_to "SpoonRocket", "http://www.spoonrocket.com" %>
	</p>

	<p>
		<%= link_to "Sign Up (Temp link)", "#", class: "btn btn-primary" %>
	</p>
</div>