<% if user_signed_in? %>
	<h1>Welcome to the member's page</h1>
<% else %>
	<div class="hero-unit">
		<h3>PS-Guru Home</h3>
		<p>This is the home page.</p>
		<p>
			<%= link_to "Personal Statement Guru", "#" %>
		</p>

		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
		</p>
	</div>
<% end %>