<%-# provide(:title, 'Home') -%>

<% if user_signed_in? %>
	<h4>Welcome <%= current_user.name %></h4>
<% else %>
<% end %>
	<div class="hero-unit center">
		<h2>Personal Statements. Perfected.</h2>
		<p>hard workers deserve a great college (slogan up to you)</p>
		<p>
			Inspiring embedded 1-2 minute video with beautiful background music and various 1 sentence testimonies about how great Filipek is goes here
		</p>
<% if not user_signed_in? %>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
		</p>
<% else %>
<% end %>
	</div>
	
	

<div class="center">

	<h4>
		Essay Tutoring
	</h4>
	<p>
		My writers produce great essays.  I have helped both struggling and gifted writers get into colleges that were better than their grades would allow.  I am the best essay advisor/editor in the Bay Area and I fully guarantee it.
	</p>
	<h4>
		College Advising
	</h4>
	<p>
		I have a wealth of knowledge about the postsecondary institutions in this country.  I have advice for applicants about where to apply and how to get in.
	</p>

	<h4>
		SAT Prep
	</h4>
	<p>
		I provide one-on-one SAT tutoring.  I also offer lots of SAT homework.  I've spent 8+ years teaching test-taking strategies, study skills, and SAT prep.
	</p>
			
</div>
