<h4>
	The Guru
</h4>

	<div class="inline_two inline_two_small">
		<%= image_tag "filipek_face.png", class: "image" %>
		
	</div>
	
	<div class="inline_two inline_two_large">
		<p>
			Nicholas Filipek is a tutor who is available in the East Bay and the broader Bay Area.  His essay tutoring is guaranteed to produce great essays.
		</p>
		<p>
			I grew up in Berkeley and graduated from Berkeley High in 1997.  I then moved to NYC and earned my BA in English and Creative Writing from  Columbia University in 2001.  I moved back to the Bay Area and have taught high school English for the past eight years; the last six I spent at Oakland High School.
		</p>
				<p> 
			I have honed and perfected my methods of teaching the personal statement (and its importance) to high school seniors.
			I have tips and tricks for reluctant and exuberant writers.
		</p>
	</div>
	 	


	<div>
		<p>
			Along with being a writer, tutor, and teacher, I'm also an active athlete, an avid reader, and a member of a large and happy family. 
		</p>
		
		<p>
			I'm an outgoing and talkative person. In particular, if you have any questions concerning college (such as which one is right for you), I'd be more than willing to sit down and have a chat!
		</p>
	</div>
