<% provide(:title, 'Testimonies') %>

<h3>Testimonies</h3>

<p>
	"I have never had a dissatisfied client."  
	--Nicholas (Mr. Filipek) Filipek, Columbia University, 2001
</p>

<p>
	"We love Mr. Filipek."
	"... and he's pretty good at English, too."
</p>

<p>
	"He helped me get into grad school!"
	Jillian Welch, MBA from Drexel University, CO 
</p>

<p>
	"With Mr. Filipek's help...
	... I'm going to Stanford."
</p>

<p>
	"Need some help with your personal statement? He got you."  
	--Lena Chen, Oakland High, 2012
</p>

<p>
	"Mr. Filipek will help you but only if you put in work."
	--Gorlan Yuen, Oakland High, 2010
</p>

<p>
	"We saw him help students last year, and we're looking forward to working with him this year."
	--Nick Duong and Mei Huang, Oakland High, 2014
</p>