$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import 'bootstrap';
@import 'bootstrap-responsive';

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

.image {
  margin: 5px;
  //padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #444;
}

.pull-center {
	/*margin-left: auto;*/
	margin-left: 50%;
	/*text-align: center;*/
} /* this doesn't work yet */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/*.footer {
	/*margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
} */

.inline_two {
  display: inline-block;
  margin: 1px;
  vertical-align: middle;
}

.inline_two_small {
  width: 140px;
  margin-top: -10px;
}

.inline_two_large {
  width: 80%;
  margin: -5px 1px 0 20px;
}

.inline_three {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 10px;
  vertical-align: top;
}

.faq_body {
  background: url('backgroundpicture.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}

.brand { //the logo at the top left
	font-style: bold;
	font-size: 28px;
	text-transform: uppercase;
	&:hover {
	  color: #3C4BF5;
	}
}

/*.about-page {
	background: gray;
}*/

.question {
	color: #ED1178;
	font-style: bold;
}

.answer {
	font-style: bold;
}

.upload-essay-button {
  margin-top: 20px;
  margin-left: 5px;
}

.red-text {
  color: #DE0000
}

.blue-text {
  color: #0000DE
}


